@model WSR_SESSION1.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fio" class="control-label"></label>
                <input asp-for="Fio" class="form-control" />
                <span asp-validation-for="Fio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportData" class="control-label"></label>
                <input asp-for="PassportData" class="form-control" />
                <span asp-validation-for="PassportData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPlace" class="control-label"></label>
                <input asp-for="WorkPlace" class="form-control" />
                <span asp-validation-for="WorkPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyNumber" class="control-label"></label>
                <input asp-for="PolicyNumber" class="form-control" />
                <span asp-validation-for="PolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyExpire" class="control-label"></label>
                <input asp-for="PolicyExpire" class="form-control" />
                <span asp-validation-for="PolicyExpire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliceCompany" class="control-label"></label>
                <input asp-for="PoliceCompany" class="form-control" />
                <span asp-validation-for="PoliceCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalCardId" class="control-label"></label>
                <input asp-for="MedicalCardId" class="form-control" />
                <span asp-validation-for="MedicalCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
